@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Noto+Sans:wght@400;700&family=Roboto+Mono:wght@400;500;700&family=Roboto:ital,wght@0,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
}

body{
    height: 100vh;
    width: 100vw; 
}

nav{
    height: 108px;
    width: 1280px;
    margin: 6px;
    display: inline-flex;
    justify-content: center;
    align-self: center;
   
}

.h1{
    display: inline-flex;
    justify-content: space-between;
    align-self: center;
    margin-right: 135px;
}
 ul{
    
     width: 455px;
     height: 19px;
     display: inline-flex;
     align-self: center;
     justify-content: space-between;
     list-style: none;
     text-decoration: none;
     margin-right: 123px;
 }

 li{
    width: 75x;
    height: 19px;
    text-decoration: none;
   
 }

a{
    text-decoration: none;
}

span{
    color: #4C5D73;
    font-size: 16px;
 }

.btn{
    height: 108px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#cad{
    width: 96px;
    height: 19px;
    color: #304F8C;
    font-size: 16px;
    cursor: pointer;
}

#en{
    width: 150px;
    height: 50px;
    color: #304F8C;
    font-size: 16px;
    background: transparent;
    border-radius: 6px;
    text-align: center;
    border-color: #304F8C;
    margin-left: 24px;
    cursor: pointer;
    border: 2px solid #304F8C;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
    


